<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CamRec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3801A38E1EB9092B000527C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3801A3A71EB9092B000527C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3801A3B21EB9092B000527C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
